html {
  font-size: 15px;
  background-color: rgb(0, 0, 0);
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.image {
  max-width: 100%;       /* Ensure the image doesn't exceed the container */
  border: 5px solid white;
}

.poster {
  font-size: 15px;
  width: 40%;
  margin-top: 100px;
  margin-left: 30%;
  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
}
